// COLORS
$color_bg-dark: #121212;
$color_bg-light: #1e1e1e;
$color_primary: #00f2ff;
$color_text-primary: #ffffff;
$color_text-secondary: #b3b3b3;
$shadow_glow: 0 0 10px rgba($color_primary, 0.7);


// FONTS
$font-family_heading: 'Montserrat', sans-serif;
$font-family_body: 'Roboto', sans-serif;

