@use "./fonts" as *;
@use "./reset" as *;
@use "./vars" as *;

* {
    box-sizing: border-box;
}

html,
body,
#__nuxt {
    min-height: 100%;
}

body {
    font-family: $font-family_body;
    color: $color_white;
    background-color: $color_bg-dark;
}

.app-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h1,
h2,
h3 {
    font-family: $font-family_heading;
    text-transform: uppercase;
}