@use "./vars" as *;

* {
  box-sizing: border-box;
}

html,
body,
#__nuxt {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  color: $color-text;
  background-color: $color-bg;
}